{{! @titulo Skills Group }}
{{! @descripcion Grupo de habilidades con título y lista de tags. }}
<div class="skills-group">
  <h3 class="skills-group__title">{{title}}</h3>
  <div class="tag-group">
    {{#tags}}<span class="tag">{{label}}</span>{{/tags}}
  </div>
</div>
